<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Register for an appointment - you will be contacted regarding it.</h2>
<a href="http://localhost:8082/register">Register</a>

<h2>See your medical record</h2>
<a href="http://localhost:8082/record">Record</a>

<h2>Update your medical record with any notes.</h2>
<a href="http://localhost:8082/update">Update</a>

<h2>See the total of the bills on your record</h2>
<a href="http://localhost:8082/bill">Bill</a>

<h2>Stress test</h2>
<a href="http://localhost:8082/stress">Stress</a>

<h2>Stress testing 2 - high contention on 5 rows</h2>
<a href="http://localhost:8082/stress5DoctorsIncrement">Stress high contention</a>

<h2>Decrement dates for random appointments</h2>
<a href="http://localhost:8082/decrementDates">Decrement dates</a>

<h2>Stress test for transactions that cover every table in the 2 DB</h2>
<a href="http://localhost:8082/stressAllTables">Stress all tables</a>
</body>
</html>