<!DOCTYPE html>
<html>
<head>
    <title>Update your medical record with any allergies or notes.</title>
</head>
<body>
<h2>Update medical record</h2>
<form action="http://localhost:8081/update" method="post">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="email">Email:</label><br>
    <input type="text" id="email" name="email"><br>
    <label for="notes">Notes:</label><br>
    <input type="text" id="notes" name="notes"><br>
    <input type="submit" value="Update notes.">
</form>
</body>
</html>
